
@{
    ViewBag.Title = "Gamze Mezar Bakım – Hakkımızda | 1999'dan Beri Güvenilir Hizmet";
    ViewBag.Description = "1999'dan beri Ankara'da mezar bakımı, çiçeklendirme ve temizlik hizmetleri sunuyoruz. Uzman ekibimizle sevdiklerinizin hatırasına yakışır bakım sağlıyoruz.";
    ViewBag.Keywords = "Ankara mezar bakımı, mezar temizliği, hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(/Content/UpConstruction/assets/img/17.jpg);">
        <div class="container position-relative">
            <h1>Hakkımızda</h1>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/anasayfa">Ana Sayfa</a></li>
                    <li class="current">Hakkımızda</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->
    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row position-relative">

                <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="~/Content/UpConstruction/assets/img/27.jpg">
                </div>

                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">


                    <p>
                        Gamze Mezar Bakım Hizmetleri olarak, 1999 yılından beri sevdiklerinizin hatıralarını yaşatmak için
                        titizlikle çalışıyoruz. Mezar bakımından sulamaya, gübrelemeden toprak değişimine, çiçeklendirme ve
                        peyzaj düzenlemelerinden mermer yapımı ve tamirat-tadilat işlemlerine kadar geniş bir hizmet yelpazesi
                        sunuyoruz.

                        Deneyimli ekibimizle, her mezarın temiz, bakımlı ve huzurlu bir görünüme kavuşmasını sağlıyoruz. Saygı
                        ve özenle yürüttüğümüz hizmetlerimiz sayesinde, sevdiklerinizin hatıralarına layık bir ortam
                        oluşturuyoruz. Güvenilir, kaliteli ve sürdürülebilir hizmet anlayışımızla, sizlere en iyi mezar bakım
                        çözümlerini sunmaktan gurur duyuyoruz.
                    </p>


                </div>
            </div>

        </div>


    </section><!-- /About Section -->




