
@{
    ViewBag.Title = "Gamze Mezar Bakım – Bizimle İletişime Geçin | Ankara";
    ViewBag.Description = "Mezar bakımı, çiçeklendirme ve temizlik hizmetlerimiz hakkında bilgi almak için hemen bizimle iletişime geçin. WhatsApp ve telefon ile hızlı yanıt!";
    ViewBag.Keywords = "Ankara mezar bakımı, mezar bakım iletişim, fiyat bilgisi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url(/Content/UpConstruction/assets/img/17.jpg);">
    <div class="container position-relative">
        <h1>İletişim</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/anasayfa">Ana Sayfa</a></li>
                <li class="current">İletişim</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Contact Section -->
<section id="contact" class="contact section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Adres</h3>
                    <p>Aşağı Yahyalar, Anadolu Blv no 200, Yenimahalle/Ankara</p>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-telephone"></i>
                    <h3>Telefon</h3>
                    <p>0542 440 39 60</p>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-envelope"></i>
                    <h3>Mail</h3>
                    <p>ibrahimayseli156@gmail.com</p>
                </div>
            </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">
            <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3057.321845759097!2d32.76881787598939!3d39.97891237151336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMznCsDU4JzQ0LjEiTiAzMsKwNDYnMTcuMCJF!5e0!3m2!1str!2str!4v1742761262823!5m2!1str!2str" frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div><!-- End Google Maps -->



        </div>

    </div>

</section><!-- /Contact Section -->