
@{
    ViewBag.Title = "Şifre Değiştir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Şifre Değiştir</h2>

<br />

<form action="/Admin/Password" method="post">
    <input type="password" placeholder="Eski Şifreniz" name="eskiparola" id="eskiparola" class="form-control" />
    <br />
    <input type="password" placeholder="Yeni Şifreniz" name="Parola" id="Parola" class="form-control" />
    <br />
    <input type="password" placeholder="Yeni Şifreniz" name="Parola2" id="Parola2" class="form-control" />
    <br />
    <button type="submit" class="btn btn-warning">Güncelle</button>

</form>

