
@{
    ViewBag.Title = "Yetkililer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yetkililer</h2>

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verticalycentered">
    Ekle
</button>

<div class="modal fade" id="verticalycentered" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/Admin/YetkiliEkle" method="post">
                <div class="modal-body">


                    <input type="text" name="KullaniciAdi" placeholder="Kullanici Adi" id="KullaniciAdi" class="form-control" required />
                    <br />
                    <input type="password" name="Parola" placeholder="Parola" id="Parola" class="form-control" required />
                    <br />



                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Vertically centered Modal-->

<br />

<div class="card-body">

    <div class="table-responsive">
        <table class="table table-borderless datatable">
            <thead>
                <tr>

                    <th scope="col">Kullanıcı Adı</th>

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Yetkililer)
                {

                    <tr>

                        <td>@item.KullaniciAdi</td>

                        <td>
                            <a href="/Admin/YetkiliSil/@item.ID" class="badge bg-danger">Sil</a>

                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

