
@{
    ViewBag.Title = "Ankara Mezar Bakımı – Fiyat Listesini İncele | Gamze Mezar Bakım";
    ViewBag.Description = "Mezar bakımı, çiçeklendirme ve temizlik hizmetlerimizin güncel fiyatlarını inceleyin. Ankara’da uygun fiyatlarla profesyonel mezar bakımı sunuyoruz.";
    ViewBag.Keywords = "Ankara mezar bakımı, mezar bakım fiyatları, çiçeklendirme";

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url(/Content/UpConstruction/assets/img/17.jpg);">
    <div class="container position-relative">
        <h1>Fiyat Listesi</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/anasayfa">Ana Sayfa</a></li>
                <li class="current">Fiyat Listesi</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Blog Posts Section -->
<section id="blog-posts" class="blog-posts section">

    <div class="container">
        <div class="row gy-4">

            <div class="col-lg-6">
                <article class="position-relative h-100">

                    <div class="post-img position-relative overflow-hidden">
                        <img src="~/Content/UpConstruction/assets/img/fiyatlistesi/1.png" class="img-fluid" alt="">
                        <span class="post-date">6.000 ₺</span>
                    </div>

                    <div class="post-content d-flex flex-column">

                        <h3 class="post-title">Maksimum paket tek kişilik</h3>

                                            



                    </div>

                </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
                <article class="position-relative h-100">

                    <div class="post-img position-relative overflow-hidden">
                        <img src="~/Content/UpConstruction/assets/img/fiyatlistesi/2.jpg" class="img-fluid" alt="">
                        <span class="post-date">12.000 ₺</span>
                    </div>

                    <div class="post-content d-flex flex-column">

                        <h3 class="post-title">Maksimum paket çift kişilik </h3>



                      

                    </div>

                </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
                <article class="position-relative h-100">

                    <div class="post-img position-relative overflow-hidden">
                        <img src="~/Content/UpConstruction/assets/img/fiyatlistesi/3.png" class="img-fluid" alt="">
                        <span class="post-date">8.000 ₺</span>
                    </div>

                    <div class="post-content d-flex flex-column">

                        <h3 class="post-title">VİP paket tek kişilik</h3>



                        


                    </div>

                </article>
            </div><!-- End post list item -->

            <div class="col-lg-6">
                <article class="position-relative h-100">

                    <div class="post-img position-relative overflow-hidden">
                        <img src="~/Content/UpConstruction/assets/img/fiyatlistesi/4.png" class="img-fluid" alt="">
                        <span class="post-date">17.000 ₺ </span>
                    </div>

                    <div class="post-content d-flex flex-column">

                        <h3 class="post-title">VİP paket çift kişilik </h3>





                    </div>

                </article>
            </div><!-- End post list item -->


        </div>
    </div>

</section><!-- /Blog Posts Section -->